.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.importButton {
    margin-right: 10px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #ffcc00;
    color: #000;
    border: 2px solid #990000;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.importButton:hover {
    background-color: #ff9900; /* Change background color on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}