.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 80%;
    max-height: 80vh;
    overflow-y: scroll;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensure the close button is positioned relative to the modal content */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    text-align: center;
}

.modal-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}
